{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    {{ encore_entry_link_tags('add-to-cart') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="{{ product.image }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }} - {{ product.price | number_format(2) }}€</h5>
                            <p class="card-text" style="height: 150px;">{{ product.description }}</p>
                            <a href="#" class="btn btn-primary">View details</a>
                            <span class="btn-add-to-cart" data-name="{{ product.name }}" data-price="{{ product.price }}"></span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    {{ encore_entry_script_tags('add-to-cart') }}
{% endblock %}